{{#let (consume-context 'shared') as |shared|}}
  <ul>
    {{#each (shared.filter 'name' @name) as |item|}}
      <li>
        <shared.Item @item={{item}} />
      </li>
    {{/each}}
  </ul>
{{/let}}